/* .summary-header {
    position: fixed;
} */
.pdf-controls-container {
    position: sticky;
    top: 5rem;
    background-color: #1a1a1a;
    z-index: 100;
    color: white;
    /* display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.file-label-here {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-container {
    display: inline-block;
    color: white;
}

.pagination-button {
    /* padding: 2rem; */
    font-weight: bold;
}

.pagination-icon {
    color: white;
}

/* .download-btn {
    margin-left: auto;
} */

.fa-download {
    color: white;
}

.page-label {
    padding: 1rem;
    font-weight: bold;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    box-shadow: 5px 10px 18px #888888;
}

.pdf-file-container {
    padding: 1rem;
}
