/* Filter fields container */
.manage-resources-page-container {
  background-color: #f4f4f4;

  min-height: 90vh;
  position: relative;
}

.res-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  margin: 0 2rem;
}

/* Each filter select field */
.res-filters {
  width: 17%;
  font-size: 14px;
}

.resource-search-bar-container {
  display: flex;
  align-items: center;
  height: 3rem;
}

/* ------ clear button ------*/

/* icon + text container*/
.res-clrbtn {
  display: flex;
  margin-top: 0.4rem;
}

/* icon */
.res-clrbtn svg {
  vertical-align: -0.3rem;
  padding-bottom: 0.2rem;
  padding-right: 0.3rem;
}

.res-search-btn {
  border-radius: 0 7px 7px 0 !important;
  background: rgb(0, 103, 161) !important;
}

.res-filters-clear {
  vertical-align: middle;
  /* text-decoration: underline; */
  border: 0;
  background-color: #f4f4f4;
  color: #828282;
}
/* hover */

.res-clrbtn:hover,
.res-clrbtn svg:hover {
  text-decoration: underline;
  color: black;
}

/* Table Container */
.res-table-cont {
  width: 100%;
  /* background-color: #f5f5f5; */
  padding-top: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
}

/* --- Add New Resource button --- */
.new-res-button {
  display: inline-block;
  background-color: white;
  color: #0067a1;
  border-style: solid;
  border-color: #0067a1;
  border-width: 1px;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.new-res-button a {
  color: #0067a1;
}

.new-res-button svg {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 0.15rem;
}

.new-res-button:hover {
  background-color: #0067a1;
  border-color: white;
  color: white;
}

.editResourceBtn,
.delResBtn {
  color: #828282;
  /* height: 2rem; */
}

.addBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.table-icons {
  -webkit-user-select: none !important; /* Chrome all / Safari all */
  -moz-user-select: none !important; /* Firefox all */
  -ms-user-select: none !important; /* IE 10+ */
  -o-user-select: none !important;
  user-select: none !important;
}

.tableRowStyle:hover{
  cursor: pointer;
}
