/* activity logs container */
.activity-logs-container {
    position: relative !important;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

/* Table */
.activitytable-container {
    width: 100%;
    padding-top: 2.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    z-index: 0;
}

.table-header-text {
    font-weight: bold;
    font-size: 1.5rem;
}

.activity-table-cell {
    align-items: left;
}

/* clear logs button container */
.clear-logs-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.clear-logs-btn {
    display: inline-block;
    align-items: center;
    background-color: white;
    color: #c82333;
    border-style: solid;
    border-color: #c82333;
    border-width: 1px;
    padding: 1rem;
    border-radius: 0.5rem;
}
.clear-logs-btn:hover {
    background-color: #c82333;
    border-color: white;
    color: white;
}
