.manage-header-container {
    background-color: white;
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 6rem;
    padding-bottom: 2rem;
    padding-left: 6%;
    padding-right: 15%;
}

.manage-header-container h1 {
    font-family: "Montserrat", sans-serif;
    color: #0067a1;
    font-weight: bold;
    font-size: 2.75rem;
    margin: 0;
    width: 50%;
}

.header-label {
    display: flex;

    color: black;
    height: 40%;
    align-items: flex-start;
}

.search-bar-container {
    display: flex;
    padding: 0;
}

/* Search Bar + Button Container */
.staff-search-bar-container {
    display: flex;
    padding: 0;
}

/* Search Field */
.search-bar-temp {
    height: 3.5rem;
    width: 32rem;
    padding: 3px;
    padding-left: 10px;
    border: 0.5px solid black;
    border-radius: 8px 0px 0px 8px;
    font-size: 14px;
}

/* Search Button */
.search-button {
    border: none;
    color: rgb(0, 103, 161);
    height: 3.5rem;
    width: 5rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
