.manage-user-container {
  background-color: #f4f4f4;
  min-height: 85vh;
  position: relative;
}
.user-search-container {
  display: flex;
  place-items: center;
  padding-top: 50px;
  font-weight: bold;
  font-size: 2.75rem;
  z-index: -1;
}

.input-group {
  padding: 0px 100px;
}

/* filter */

.user-clrbtn {
  display: flex;
  margin-top: 0.4rem;
}
/* icon */
.user-clrbtn svg {
  vertical-align: -0.3rem;
  padding-bottom: 0.2rem;
  padding-right: 0.3rem;
}
.user-filter {
  width: 30%;
  font-size: calc(10px + 0.3vw);
}
.staff-search-bar-container {
  width: 30vw;
  height: 45px;
  margin: 0;
  padding: 0;
}
.input-group-append {
  height: 100%;
  padding: 0;
  margin: 0;
}
.mybtnUserPage {
  border-radius: 0 7px 7px 0 !important;
  background: rgb(0, 103, 161) !important;
}
.search-bar-temp {
  height: 100% !important;
  margin: 0;
  padding: 0;
  border-radius: 7px 0 0 7px !important;
}
.search-bar-temp:focus {
  border-radius: 7px 0 0 7px !important;
}

#user-filters-clear {
  vertical-align: middle;
  /* text-decoration: underline; */
  color: #828282;
}
.manage-user-header-container {
  margin-left: 6%;
  margin-right: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* #manageUserId {
    font-family: "Montserrat", sans-serif;
    width:50vw;
    height:11vh;
    float:right;
    margin-bottom: 5px !important;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    margin:0 4% 0 0;
    font-weight: bold;
    font-size: 2.75rem;
} */

/* Table */

.usertable-container {
  width: 100%;
  padding-top: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
  /* background-color: #f5f5f5; */
  z-index: -2;
}

.table-header-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.user-table-cell {
  align-items: left;
}

.table-icons {
  -webkit-user-select: none !important; /* Chrome all / Safari all */
  -moz-user-select: none !important; /* Firefox all */
  -ms-user-select: none !important; /* IE 10+ */
  -o-user-select: none !important;
  user-select: none !important;
}

.table-icons:hover {
  transition: transform 100ms ease, box-shadow 125ms ease !important;
  transform: scale(1.25) !important;
  cursor: pointer;
}
