.notFoundContainer{
    position: relative;
    font-family: 'Montserrat';
    height:100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.7s;
    overflow: hidden;
}
.notFoundContainer:hover .notFoundhover1{
    opacity: 0.9;
    z-index: 1;
    left:5px;
    transform: scale(1.1);
}
.notFoundContainer:hover .notFoundhover2{
    opacity: 0.7;
    left:5px;
    z-index: 2;
    transform: scale(1.2);

}
.notFoundContainer:hover .notFoundhover3{
    opacity: 0.6;
    left:5px;
    z-index: 3;
    transform: scale(1.3);
}

.notFoundhoverEffect{
    position: absolute;
    z-index: 0;
    left:0px;
    transform: scale(1);
    height:100%;
    width:100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.3s;
}

.notFoundPicture{
    z-index: -111;
    position: absolute;
    height:100%;
    width:100%;
    object-fit: cover;
}
.white-notfound{
    background-color: rgba(255,255,255,0.15);
    height:70%;
    width:500px;
    border-radius: 18px;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 3px 5px rgb(218, 218, 218, 0.4);
    padding:60px;
    transition: 0.8s;
}
.title-notfound{
    font-size:70px;
    font-weight: 700;
    color:rgb(235, 231, 231);
    text-align:center;
    line-height: 1;
}
.caption-notfound{
    font-size:15px;
    font-weight: 200;
    color:rgb(214, 214, 214);
    text-align: center;
}


/* mobile responsiveness */
@media screen and (max-width: 780px) {
    .notFoundContainer{
        justify-content: center;
        align-items: center;
    }
    .white-notfound{
        width: 90vw;
        margin-right: 0;
        padding:40px 10px 10px 10px;
    }
    .title-notfound{
        font-size:50px;
        font-weight: 600;
    }
}
@media screen and (max-height: 600px) {
    .caption-notfound{
        display: none !important;
    }
    .iconNotFound{
        display: none !important;
    }
}


@media screen and (max-height: 650px) {
    .white-notfound{
        height:95%;
        width:500px;
        padding:8px;
    }
}
@media screen and (max-width: 425px) {
    .white-notfound{
        align-items: center;
    }
    .notFoundContainer{
        height:70vh;
        width:100vw;
        padding:0px 10px;
    }
    .title-notfound{
        font-size: 35px;
    }
    .caption-notfound{
        display: none;
    }
}