/* profileContainer */
.profile-container {
  display: grid;
  height: auto;
  gap: 20px;
  width: 100vw;
  padding: 10vh;
  margin: auto;
  align-items: flex-start;
  justify-content: flex-start;

  broder: 1px solid red;
}

.removal-bar {
  padding-top: 10vh;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;

}

.edit-column {
  padding-left: none;
  padding-top: 21px;
  align-items: flex-start;

}

.columns-temp {
  align-items: center;
  justify-content: center;
  height:inherit;

  padding: 12px;
}

.label-container {
  padding: 12px;
}


.text-field {
  font-size: 15;
  size: large;

}