/* ------------------------- */

/* ------ Add Resources Form container ------ */

.add-res-form-cont {
  /* height: 100vh; */
  background-color: #f4f4f4;
}

.add-resource-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.add-res-header {
  background-color: #f4f4f4;

  /* margin:0; */
}

.add-res-header h1 {
  color: black;
  padding: 1rem;
  font-weight: 900;
  font-size: 3rem;
  font-family: inherit;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 4rem;
}

.form-container {
  margin: 5rem;
  padding: 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-columns {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.primaryfields,
.primaryfields-date {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  font-weight: normal;
  width: 100% !important;
}

.primaryfields label,
.primaryfields-date {
  margin-bottom: 0.5em;
  font-weight: normal;
}

.primaryfields input,
.primaryfields-date input {
  /* max-height: 38px; */
  height: 2.8rem;
  border-radius: 0.3rem;
  /* border-color: #cfcfcf solid; */
  border-color: #afbcc9;
  border-style: solid;
  border-width: 0.15rem;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
  /* width: 90%; */
  /* width: 100%; */
}

.primaryfields input:focus,
.primaryfields-date input:focus {
  outline: none !important;
  border-radius: 0.3rem;
  border-color: #778899;
  border-width: 0.15rem;
}

.primaryfields textarea {
  height: 20rem;
  width: 90%;
  border-radius: 0.3rem;
  /* border-color: #cfcfcf solid; */
  border-style: solid;
  border-width: 0.15rem;
  padding: 0.5rem;
  border-color: #afbcc9;
}

.primaryfields textarea:focus {
  outline: none !important;
  border-radius: 0.3rem;
  border-color: #778899;
  border-width: 0.15rem;
}

.bookRelatedCourses {
  margin-bottom: 1rem;
}

#availBookCopies {
  width: 4rem;
  margin-bottom: 0.5rem;
}

#sptYear {
  width: 25%;
}

.dates-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  /* width: 100%; */
}

/* #datePublished {
  width: 100%;
} */

#addAuthor {
  font-family: inherit;
  padding: 0.5rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  background-color: white;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #dadada;
  /* border-color: #cccccc; */
  border-width: 0.1rem;
  margin-bottom: 1rem;
}

#addAuthor:hover {
  background-color: #0067a1;
  color: white;
  border-color: white;
}

#deleteAuthor {
  display: flex;
  align-items: center;
  font-family: inherit;
  color: #c82333;
  align-items: center;
  background-color: white;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #c82333;
  border-width: 0.1rem;
  height: 2rem;
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
}

#deleteAuthor:hover {
  background-color: #c82333;
  color: white;
  border-color: #c82333;
}

/* #deleteAuthor {
    font-family: "Montserrat", sans-serif;
    color: #d31c1ca9;
    vertical-align: center;
    align-items: center;
    background-color: white;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: #d31c1ca9;
    border-width: 0.1rem;
    height: 2rem;
    margin-top: 0.5rem;
    width: 10rem;
  }
  
  #deleteAuthor:hover {
    background-color: #d31c1ca9;
    color: white;
    border-color: white;
  } */

.authorfields {
  /* encloses inputs + delete button */
  margin-bottom: 1rem;
}

.authorname-cont {
  /* encloses author-fname and author-lname */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.authorname-cont input {
  width: 85%;
  height: 2.5rem;
  border-radius: 0.3rem;
  /* border-color: #cfcfcf solid; */
  border-color: #afbcc9;
  border-style: solid;
  border-width: 0.15rem;
  padding: 0.5rem;
  /* margin-right:1rem; */
}

.authorname-cont input:focus {
  outline: none !important;
  border-radius: 0.3rem;
  border-color: #778899;
  border-width: 0.15rem;
}

.author-name {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.author-name input {
  width: 100%;
}

#physDescription {
  width: 100%;
  max-height: 100vh;
  min-height: 40vh;
  /* resize: none; */
  height: "unset";
  line-height: 1.5;
}

#sptYear {
  width: 25%;
}

#keywords-field {
  border: none;
  width: 100%;
  /* border-color: #afbcc9; */
}

#abstractText {
  height: 15rem;
  border-radius: 0.3rem;
  /* border-color: #cccccc solid; */
  border-color: #afbcc9;
  border-style: solid;
  border-width: 0.15rem;
  padding: 0.5rem;
  width: 100%;
  max-height: 100vh;
  min-height: 40vh;
  /* resize: none; */
  height: "unset";
  line-height: 1.5;
}

#abstractText:focus {
  outline: none !important;
  border-radius: 0.3rem;
  border-color: #778899;
  border-width: 0.15rem;
}

/* #advsel {
  border-color: #afbcc9;
  border-style: solid;
  border-width: 0.15rem;
} */

.form-left-column,
.form-mid-column,
.form-right-column {
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 33%;
}

/* .form-mid-column{
    display: flex;
    flex-direction: column;
    padding-right:1rem;
    width:33%
}

.form-right-column{
    padding-right: 1rem;
    width: 33%;
} */

#relatedCourses {
  width: 100%;
}

.popupForm {
  background-color: white;
  padding: 2.5rem;
  border-width: 0.5rem;
  border-radius: 0.3rem;
  margin: 2rem;
  width: 35rem;
}

/* #resClassification {
  width: 100%;
} */

.resourcefiles {
  padding: 1rem;
  width: 100%;
  color: #dadada;
  background-color: white;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  border-style: solid;
  float: right;
}

.spthesisform {
  background-color: white;
  padding: 2.5rem;
  border-width: 0.5rem;
  border-radius: 0.3rem;
  margin: 2rem;
  width: 28rem;
  height: 100%;
}

#sptform h5 {
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.spthesisfiles {
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex: row;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.spthesisfiles h5 {
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  width: 12rem;
  margin-right: 1rem;
  margin-bottom: 0;
}
/* 
.spthesisfiles input{
    width: 35rem;
} */

#addAdviser {
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  float: right;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  padding-right: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  border-style: solid;
}

#addAdviser:hover {
  background-color: #0067a1;
  color: white;
  border-color: white;
}

#saveResource {
  margin-top: 1rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: #0067a1;
  color: white;
  background-color: #0067a1;
  width: 100%;
  box-shadow: 0.3rem 0.3rem 0.7rem #cfcfcf;
}

#saveResource:hover {
  /* color: white; */
  /* background-color:#0066a1bb; */
  /* -moz-box-shadow: inset 0 0 1rem #00000036;
    -webkit-box-shadow: inset 0 0 1rem #00000036; */
  transition: transform 100ms ease, box-shadow 125ms ease;
  transform: scale(1.025);
  box-shadow: 0.6rem 0.6rem 1rem #cfcfcf;

  /* box-shadow: 0 8px 24px 0 #cfcfcf, 0 12px 40px 0 #cfcfcf; */
}

.main-form {
  background-color: white;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 1.25rem #cfcfcf;
  /* box-shadow: "4px 4px 20px #36454f"; */
  padding: 2.5rem;
}

#bookISBN {
  width: 50%;
}

.classifSelect,
.abstract-div {
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
}

.add-spt-page-container {
  display: flex;
  flex-direction: row;
}

.resourcefiles {
  color: #0067a1;
  text-decoration: underline;
}

.resourcefiles::placeholder {
  color: #c5c5c5;
}

/* #keywords-field {
  border-color: #afbcc9;
} */

#resClassification {
  margin-top: 0.3rem;
  width: 50%;
}
