.book-page-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 10%;
}

.title-author {
    margin: 2rem 10%;

}

.title-author h1{
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight:bolder;
}

.title-author h3 {
    font-family: 'Montserrat',sans-serif;
    font-weight: normal;
    color: #0067A1;
}

.title-author p {
    color: #9b9b9b;
}

.date-and-view{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.date-and-view svg {
    color:black;
}

#view-manuscript{
    color: #0067A1;
}

#view-manuscript:hover{
    text-decoration: underline;
}

.abstract-container {
    padding-right: 1.5rem;
}

.abstract-container h2 {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 1rem;
}

.abstract-container p{
    text-align: justify;
    text-justify: inter-word;
}

.abstract-and-info {
    margin-left: 15rem;
    margin-right: 15rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}

.info-sidebar {
    padding-left:5rem;
}
.spt-thtr{
    padding: 1.3rem;
    padding-left:3rem;
    padding-right: 3rem;
    border-bottom: 1px solid;
    border-color:#e5e5e5;
}

.spt-view-buttons {
    margin-top: 2rem;
}

.spt-view-buttons button {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    background-color: white;
    border-color: #bff1ff;
    border-style: solid;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 0.3rem rgb(204, 204, 204);
}

.spt-view-buttons button:hover {
    box-shadow: none;

}

.bookcover-and-desc{
    display: flex;
    justify-content: space-between;  

    margin: 2rem 10%;
    /* margin-left: 15rem; */
    /* margin-bottom: 8rem; */
}

.book-info-tr {
    padding: 1.3rem;
    padding-right: 3rem;
    border-bottom: 1px solid;
    border-color:#e5e5e5;
}

.bookcover-and-desc{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.phys-description {
    margin: 2rem 10%;
    /* padding-left: 6rem;
    padding-right: 15rem; */
}

.phys-description p {
    text-align: justify;
    text-justify: inter-word;
}