table {
  width: 100%;
}

.reading-main-container {
  display: flex;
  flex-direction: flex-start;
  align-items: flex-start;
  min-height: 90vh !important;
  background-color: #f4f4f4;
}

.book-page-container {
    width:100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 2rem 10%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem #cfcfcf;
    background-color: white;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.spt-page-container {
    /* min-height: 90vh !important; */
    height: auto;
    width:100%;
    display: flex;
    flex-direction: column;
    margin: 2rem 10%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem #cfcfcf;
    background-color: white;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.title-author {
  margin: 2rem 10%;
}

.title-author h1 {
  font-size: 2.5rem;
  font-family: "Montserrat";
  font-weight: bolder;
}

.title-author h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #0067a1;
}

.title-author p {
  color: #9b9b9b;
}

.date-and-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-and-view svg {
  color: black;
}

#view-manuscript {
  color: #0067a1;
}

#view-manuscript:hover {
  text-decoration: underline;
}

.abstract-container {
  margin: 0px 6%;

  width: 60%;
}

.abstract-container h2 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
}

.abstract-container p {
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
}

.abstract-and-info {
  margin: 0px 6%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.info-sidebar {
  width: 40%;
  padding: 0px 6%;
}

.spt-thtr {
  font-size: 1.2rem;
  padding: 1.3rem;
  border-bottom: 1px solid #e5e5e5;
}
.spt-thtr-type{
  font-size: 1.2rem;
  padding: 1.3rem;
  font-weight: 100;
  border-bottom: 1px solid #e5e5e5;
}

.spt-thtr-multi {
  font-size: 1.1rem;
  padding: 0.2rem;

}

.keyword-container {
  font-weight: 100;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  border-bottom: 1px solid #e5e5e5;
}

.spt-view-buttons {
  margin-top: 2rem;
}

.spt-view-buttons button {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  background-color: white;
  border-color: #bff1ff;
  border-style: solid;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 0.3rem rgb(204, 204, 204);
  font-size: 1.2rem;
}

.spt-view-buttons button:hover {
  /* box-shadow: none; */
  transition: transform 100ms ease, box-shadow 125ms ease;
  transform: scale(1.025);
}

.bookcover-and-desc {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 2rem 6%;
}
.imgContainerBook {
  position: relative;
  height: 55vh;
  width: 50%;
  display: flex;
  justify-content: center;
}
.imgBook {
  height: 100%;
  width: 60%;
  position: absolute;
}

.book-cover-info-side {
    align-items: center;
    justify-content: center;
    margin: 0px 5%;
    width: 45%;
}

.book-info-tr {
  font-size: 1.2rem;
  padding: 1.3rem;
  border-bottom: 1px solid;
  border-color: #e5e5e5;
}

/* .book-info-multi {
    font-size: 1.2rem;
    padding: 0.5rem; 
} */

/* .bookcover-and-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.physical-description {
  font-size: 1.2rem;

  padding: 1.3rem;
}

.physical-text {
  width: inherit;
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;
}

.info-group{
    display:flex;
    justify-content: space-between;
    margin: 0;
}

.info-group h3{
    margin:0;
}

.info-value{
    font-weight:100;
    text-align: right;
}

.info-value-pd{
  font-weight:100;
  text-align: justify;
  margin-left: 5%;
}
.info-head{
    max-width: 30%;
}