body{
    font-family: 'Montserrat', sans-serif;
}

/* Manage Resources + Search Bar Container */
.manageresheader{
    background-color:#CFCFCF;
    width: 100%;
    height: 14rem;
    display:flex;
    flex-direction:row; 
    align-items: center;
    justify-content: space-around;  
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2.5rem; 
    padding-right: 2.5rem;
}

.manageresheader h1{
    font-family: 'Montserrat';
    text-decoration: none;
    margin:0;
    color: black;
}

/* Search Bar + Button Container */
.staff-search-bar-container {
    display:flex;
    padding:0;
}

/* Search Field */
#searchbarresources{
    height: 3.5rem;
    width: 32rem; 
    padding:3px;
    padding-left:10px;
    border:none;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    font-size:14px
}

/* Search Button */
#searchbarresbutton {
    border:none;
    color:#EDEDED;
    height: 3.5rem;
    width:4rem;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
}



/* Filter fields container */
.res-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;    
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

/* Each filter select field */
.res-filters {
    width : 17%;
    font-size: 14px;
}

/* ------ clear button ------*/

/* icon + text container*/
.res-clrbtn{    
    display:flex; 
    margin-top: 0.4rem;
}
/* icon */
.res-clrbtn svg{
    vertical-align: -0.3rem;
    padding-bottom: 0.2rem;
    padding-right: 0.3rem;
}

/* text */
#res-filters-clear{
    vertical-align:middle;
    /* text-decoration: underline; */
    color: #828282;
}

/* hover */

.res-clrbtn:hover, .res-clrbtn svg:hover{
    text-decoration: underline;
    color:black;
}

/* Table Container */
.res-table-cont {
    width: 100%;
    background-color: #f5f5f5;
    padding: 5rem;
}

/* --- Add New Resource button --- */
.new-res-button {
    display: inline-block;
    background-color: white;
    color:#0067A1;
    border-style: solid;
    border-color: #0067A1;
    border-width: 1px;
    padding:0.7rem;
    padding-left: 0.4rem;
    border-radius: 1em;
    padding-right: 1.4rem;
}

.new-res-button a {
    color:#0067A1
}

.new-res-button svg {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0.15rem;
}

.new-res-button:hover{
    background-color: #0067A1;
    border-color:white;
    color:white;
    
}

.editResourceBtn, .delResBtn {
    color:#828282;
    /* height: 2rem; */
}
